<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TomTom Mapping Example</title>
    <link rel='stylesheet' type='text/css'
          href='https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.63.0/maps/maps.css'>
    <style>
        #map {
            width: 100vw;
            height: 100vh;
        }
    </style>
    <script src='https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.63.0/maps/maps-web.min.js'></script>
</head>
<body>
<div id='map' class='map'></div>
<script th:inline="javascript">
    let map = tt.map({
        key: [[${apikey}]], // key will be filled in by Thymeleaf
        container: 'map',
        style: 'tomtom://vector/1/basic-main',
        center: [-35.4400, 37.2787],
        zoom: 2
    });
    map.addControl(new tt.FullscreenControl());
    map.addControl(new tt.NavigationControl());

    const popupOffsets = {
        top: [0, 0],
        bottom: [0, -50],
        'bottom-right': [0, -70],
        'bottom-left': [0, -70],
        left: [25, -35],
        right: [-25, -35]
    }

    // placeholder for data that will be filled in by Thymeleaf
    const coolLocations = /*[[${coolLocations}]]*/ null;

    coolLocations.forEach(location => {
        const marker = new tt.Marker().setLngLat(location.lnglat).addTo(map);
       const popup = new tt.Popup({offset: popupOffsets}).setHTML(location.description);
        marker.setPopup(popup).togglePopup();


/*

        var markerHeight = 50, markerRadius = 10, linearOffset = 25;
        var popupOffsets = {
            'top': [0, 0],
            'top-left': [0,0],
            'top-right': [0,0],
            'bottom': [0, -markerHeight],
            'bottom-left': [linearOffset, (markerHeight - markerRadius + linearOffset) * -1],
            'bottom-right': [-linearOffset, (markerHeight - markerRadius + linearOffset) * -1],
            'left': [markerRadius, (markerHeight - markerRadius) * -1],
            'right': [-markerRadius, (markerHeight - markerRadius) * -1]
        };
        var popup = new tt.Popup({offset: popupOffsets, className: 'my-class'})
            .setLngLat(e.lngLat)
            .setHTML("<h1>Hello I'm a Popup!</h1>")
            .addTo(map);
*/


    });

</script>
</body>
</html>